<div class="container">
  <div #templateContainer class="template-container" [ngStyle]="{'width.mm': width, 'height.mm': height}" style="border: 1px solid #999999;
  position: relative;"></div>
  <section>
    <div class="example-flex-container">
      <button mat-icon-button (click)="print(templateContainer)">
        <mat-icon>print</mat-icon>
      </button>
      <button mat-icon-button (click)="downloadPdf(templateContainer)">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
    </div>
  </section>
</div>