/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div[cdkdrag]{
  cursor: move;
  width: fit-content;
  height: auto;
  line-height: 1.2;
  position: absolute;
}

.tool-container{
  max-width: 100%;
  max-height: 100%;
}

.resize-handle{
  background-color: blue;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  mat-icon{
    font-size: 36px;
    height: 36px;
    width: 36px;
    color: white;
  }
}
.resize-handle-right {
  top: calc(50% - 18px);
  right: -18px;
  cursor: e-resize;
}

.resize-handle-bottom {
  left: calc(50% - 18px);
  bottom: -18px;
  cursor: n-resize;
}